$bg-colors-1:#FFFFFF;
$bg-colors-2:#1C1C1C;
$bg-colors-3:#6696E2;
$bg-colors-4:#E27866;
$bg-colors-5:#F5F5F5;
$bg-colors-6:#41D395;
$bg-colors-6-d:#2d8761;
$bg-colors-7:#A37169;


$text-colors-1:#FFFFFF;
$text-colors-2:#333333;
$text-colors-3:#86878B;
$text-colors-4:orange;
$text-colors-5:#D8D8D8;
$text-colors-6:#1C1C1C;